/* 메뉴탑 */
div.mntopWrap{
    background-color: #000;
    color: #fff;
}
div.mntopWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    text-transform: capitalize;
}
div.mntopWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntopWrap>div.menuTop>div.info{
    float: left;
}
div.mntopWrap>div.menuTop>div.info>h4{
    float: left;
    margin-right: 20px;
}
div.mntopWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntopWrap>div.menuTop>ul.nav>li{
    float: left;
    margin-left: 20px;
}


/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.hdrWrap>div.header>div.hdrTop{
    padding: 40px 0px;
    line-height: 40px;
}
div.hdrWrap>div.header>div.hdrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrTop>h4{
    width: calc(100% / 12 * 2);
    float: left;
    font-size: 12px;
}
div.hdrWrap>div.header>div.hdrTop>h4>i{}
div.hdrWrap>div.header>div.hdrTop>h4>span{
    margin-left: 10px;
}
div.hdrWrap>div.header>div.hdrTop>h1{
    width: calc(100% / 12 * 8);
    float: left;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
div.hdrWrap>div.header>div.hdrTop>div.btn{
    width: calc(100% / 12 * 2);
    float: left;
    font-size: 14px;
    background-color: #ff0;
    border-radius: 10px;
    padding-left: 10px;
}
div.hdrWrap>div.header>div.hdrTop>div.btn>i{}
div.hdrWrap>div.header>div.hdrTop>div.btn>i>span{
    margin-left: 10px;
}
div.hdrWrap>div.header>div.hdrBtm{
    background-color: #0e5f4c;
    color: #fff;
    line-height: 80px;
    font-size: 16px;
    text-transform: capitalize;
    padding-right: 30px;
    position: relative;
}
div.hdrWrap>div.header>div.hdrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav{
    float: left;
}
div.hdrWrap>div.header>div.hdrBtm>ul.nav>li{
    float: left;
    margin-left: 30px;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu{
    float: right;
}
div.hdrWrap>div.header>div.hdrBtm>ul.menu>i{
    margin-left: 10px;
}


/* 메인 */
div.mainWrap{
    background-color: #ddd;
    margin-top: -40px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 320px 0px;
}
div.mainWrap>div.main>h2{
    line-height: 80px;
    font-size: 72px;
}
div.mainWrap>div.main>h5{
    line-height: 40px;
    font-size: 18px;
}


/* 배너공통 */
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 배너 */
div.bnrWrap.bnrWrap01{
    margin-top: -120px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop{}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
    float: left;
    padding: 40px calc(100% / 12 * 0.7) 40px 30px;
    background-color: #eee;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>h3::before{
    content: '';
    width: 20px;
    height: 2px;
    display: block;
    background-color: #000;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>h3{
    line-height: 40px;
    font-size: 18px;
    text-transform: capitalize;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>p{
    font-size: 14px;
    line-height: 20px;
    height: 80px;
    overflow: hidden;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrTop>div.texts>div.btn{
    background-color: #fc0;
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm{
    margin-top: 40px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu{
    width: calc(100% / 5 - 20px);
    margin: 0px 10px;
    float: left;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.image{
    width: 42.5%;
    height: 80px;
    background-color: #999;
    border-radius: 50%;
    float: left;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.texts{
    width: 52%;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.bnrBtm>div.menu>div.texts>h2{
    font-size: 15px;
    line-height: 20px;
}


/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    text-align: center;
}
div.cntWrap>div.content>div.header h5{
    line-height: 40px;
    font-size: 12px;
}
div.cntWrap>div.content>div.header h2{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header p{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content>div.section::after{
    display: block;
    content: '';
    clear: both;
}
div.cntWrap>div.content>div.section div.article{
    width: calc(100%/ 4 - 20px);
    margin: 0px 10px;
    float: left;
}
div.cntWrap>div.content>div.section div.article div.image{
    background-color: #063;
    
}
div.cntWrap>div.content>div.section div.article div.texts>h3{
    font-size: 18px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.article div.texts>p{
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}
div.cntWrap>div.content>div.section div.article div.texts>div.btn{
    line-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}


/* 컨텐츠1 */
div.cntWrap:nth-child(5){
    background-color: #ccc;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01{
    padding: 120px 0px;
}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h5{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12 );
    height: 10px;
    background-color: #063;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 120px;
    width: calc(100% / 3 * 1.5);
    border-radius: 50%;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image:hover{
    animation-name: big;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: #000;
}
@keyframes big {
    0%{
        background-size: 100%;
    }
    100%{
        background-size: 200%;
    }
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    text-align: center;
    padding: 0px 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.btn{
    background-color: #666;
    width: calc(100% / 3 * 1.5 );
    margin: 0 auto;
    margin-top: 20px;
    color: #fff ;
}


/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{}
div.cntWrap>div.content.cnt02>div.header>h5{}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 12);
    height: 5px;
    background-color: #666;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.header>p{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    padding-bottom: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 60px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    margin-top: 20px;
}


/* 배너2 */
div.bnrWrap.bnrWrap02{
    margin-top: 120px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02{}
div.bnrWrap.bnrWrap02>div.banner.bnr02::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft{
    width: 50%;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.ovrGrid{
    height: 840px;
    width: calc((100vw - 1080px) / 2 + 100%);
    margin-left: calc((100vw - 1080px) / -2);
    background-color: #063;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts{
    color: #fff;
    margin-top: -840px;
    padding: 120px 0px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header{
    padding-right: 30px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h5{
    line-height: 40px;
    font-size: 12px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2{
    font-size: 25px;
    line-height: 40px;
    text-transform: capitalize;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>h2::after{
    content: '';
    display: block;
    width: calc(100% / 6);
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>div.header>p{
    font-size: 12px;
    line-height: 20px;  
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form{
    margin-top: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop{
    line-height: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>h4{
    font-size: 18px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>input{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmTop>label{
    margin-right: 30px;
    font-size: 14px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid{
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft{
    width: 50%;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>input{
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmLeft>label{
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight{
    width: 50%;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmMid>div.fmRight>input{
    line-height: 40px;
    width: 90%;
    background-color: #063;
    border: 1px solid white;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm{
    padding: 20px 0px 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>h4{
    font-size: 18px;
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>input{
    line-height: 40px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.fmBtm>label{
    line-height: 40px;
    font-size: 14px;
    text-transform: capitalize;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.btn{}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrLeft>div.texts>form>div.btn>input{
    width: calc(100% / 6 * 2);
    line-height: 40px;
    background-color: #ff0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    border: 0;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrRight{
    width: 50%;
    float: left;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.bnrRight>div.ovrGrid{
    height: 840px;
    width: calc((100vw - 1080px) / 2 + 100%);
    background-color: #ccc;
}


/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h5{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 280px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    margin-top: -280px;
    padding: 40px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h5{
    font-size: 14px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    margin-top: 20px;
    height: 60px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>div.btn{}


/* 푸터 */
div.ftrWrap{
    margin-top: 120px;
    background-color: #000;
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px 0px 80px;
}
div.ftrWrap>div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft{
    width: calc(100% / 12 * 9);
    float: left;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav{
    line-height: 40px;
    font-size: 14px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li{
    float: left;
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li::after{
    content: '';
    display: inline;
    border-right: 1px solid white;
    margin-left: 15px;
}
div.ftrWrap>div.footer>div.ftrLeft>ul.nav>li:nth-child(7):after{
    content: '';
    display: inline;
    border: 0;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info{}
div.ftrWrap>div.footer>div.ftrLeft>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>h1{
    line-height: 80px;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add{
    line-height: 20px;
    float: left;
    width: calc(100% / 9 * 8);
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>p{
    height: 40px;
    overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrLeft>div.info>div.add>h4{
    margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrRight{
    width: calc(100% / 12 * 2);
    float: right;
}
div.ftrWrap>div.footer>div.ftrRight>select{
    width: 100%;
    height: 40px;
}
div.ftrWrap>div.footer>div.ftrRight>select>option{}
div.ftrWrap>div.footer>div.ftrRight>div.sns{
    line-height: 40px;
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrRight>div.sns>i{}