@font-face{
    font-family: 'xe';
    src: url('../fonts/xeicon.ttf') format('truetype');
}

// 변수(여러가지로 사용은 안됨, 이름 한개에 한 값만 들어감, 변수에는 여러모양의 값이 들어갈 수 있음, 디자인 가이드, 정해놓은 공통의 값들이 있을때면 좀 편하게 사용 가능
$titlefz:16px;
$width: calc(100% / 12 * 4);


// scss는 자바스크립트처럼사용가능하기 때문에 사용함


html{
    body{
        font-family: 'xe';
    }
}


.menutopWrap{
    background-color: #000;
    .menuTop{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        fZ: 16px;
        .info{
            width: calc(100% / 12 * 4);
            display: flex;
            justify-content: space-between;
        }
        nav{
            width: calc(100% / 12 * 4);
            display: flex;
            justify-content: space-between;
            text-transform: capitalize;
        }
    }
}

.hdrWrap{
    background-color: #000;
    header{
        color: #fff;
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        line-height: 80px;
        display: flex;
        justify-content: space-between;
        h1{
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 700;
        }
        nav{
            width: calc(100% / 12 * 7);
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            text-transform: capitalize;
        }
    }
}


.mainWrap{
    background-color: #000;
    main{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        color: #fff;
        .texts{
            padding: 200px 0px;
            h2{
                font-size: 48px;
                line-height: 50px;
                font-weight: 700;
            }
            p{
                width: calc(100% / 12 * 5.5);
                line-height: 20px;
                height: 80px;
                font-size: 14px;
            }
        }
        .btns{
            display: flex;
            justify-content: space-between;
            padding-bottom: 60px;
            .btn{
                width: calc(100% / 4 - 20px);
                display: flex;
                justify-content: space-around;
                line-height: 60px;
                height: 60px;
                background-color: #fff;
                color: #000;
                border-radius: 10px;
                font-size: 16px;
                text-transform: uppercase;
                i{
                    font-size: 20px;      
                }
                &.btn:hover{
                    background-color: #fc3;
                }
            }
        }
    }
}

.cntWrap{
    margin-top: 120px;
    .content{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        header{
            h2{
                line-height: 80px;
                font-size: 48px;
                text-transform: capitalize;
                font-weight: 700;
            }
        }
        section{
            margin-top: 40px;
            .image{
                background-color: #ccc;
            }
        }
        &.cnt01{
            header{
                display: flex;
                justify-content: space-between;
                line-height: 80px;
                .hdrLeft{
                    width: calc(100% / 12 * 8);
                    display: flex;
                    justify-content: space-between;
                    h1{
                        width: calc(100% / 8 * 1.2);
                    }
                    ul.tab{
                        width: calc(100% / 8 * 6.5);
                        display: flex;
                        justify-content: space-between;
                        font-size: 12px;
                        li::after{
                            content: '';
                            display: block;
                            margin-top: -40px;
                            width: 0;
                            height: 3px;
                            background-color: #fc0;
                        }
                        li:hover::after{
                            width: 100%;
                        }
                    }
                }
                .hdrRight{
                    width: calc(100% / 12 * 2);
                    display: flex;
                    justify-content: space-between;
                    padding-top: 10px;
                    .btn{
                        width: calc(100% / 3);
                        outline: 1px solid #ccc;
                        text-align: center;
                        line-height: 60px;
                        height: 60px;
                        font-size: 20px;
                        color: #ccc;
                        font-weight: 700;
                        &.btn:hover i{
                            color: #000;
                            font-size: 30px;
                        }
                    }
                }
            }
            section{
                display: flex;
                justify-content: space-between;
                .article{
                    outline: 1px solid #ccc;
                    width: calc(100% / 3 - 20px);
                    .image{
                        height: 200px;
                    }
                    .texts{
                        padding: 20px 0px 0px 20px;
                        h5{
                            font-size: 12px;
                            line-height: 20px;
                        }
                        h3{
                            font-size: 14px;
                            line-height: 40px;
                        }
                        p{
                            font-size: 12px;
                            line-height: 20px;
                            height: 60px;
                            width: calc(100% / 4 * 3.5);
                            overflow: hidden;
                        }
                        .btn{
                            width: calc(100% / 4 );
                            margin-left: auto;
                            line-height: 40px;
                            height: 40px;
                            text-align: center;
                            background-color: #555;
                            font-weight: 700;
                            font-size: 35px;
                            margin-top: 40px;
                            &.btn:hover{
                                background-color: #fc3;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &.cnt02{
            header{
                display: flex;
                justify-content: space-between;
                .hdrLeft{
                    h5{
                        font-size: 14px;
                        line-height: 40px;
                    }
                }
                .hdrRight{
                    width: calc(100% / 12 *1.5);
                    line-height: 50px;
                    height: 50px;
                    outline: 1px solid #ccc;
                    text-align: center;
                }
            }
            section{
                article{
                    display: flex;
                    justify-content: space-between;
                    direction: rtl;
                    margin-top: 40px;
                    .image{
                        width: calc(100% / 12 * 3);
                        height: 120px;
                    }
                    .texts{
                        width: calc(100% / 12 * 9);
                        direction: ltr;
                        display: flex;
                        justify-content: space-between;
                        .txtLeft{
                            width: calc(100% / 9 * 2);
                            .score{
                                display: flex;
                                h3{
                                    font-size: 48px;
                                    line-height: 80px;
                                    color: #fc0;
                                }
                                h5{
                                    font-size: 12px;
                                    line-height: 40px;
                                    padding-left: 10px;
                                    padding-top: 30px;
                                }
                            }
                            h5{
                                font-size: 12px;
                                line-height: 20px;
                            }
                        }
                        .txtRight{
                            width: calc(100% / 9 * 7);
                            h3{
                                font-size: 18px;
                                line-height: 40px;
                            }
                            p{
                                width: calc(100% / 7 * 6.8);
                                font-size: 12px;
                                line-height: 20px;
                                height: 60px;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

.bnrWrap{
    margin-top: 120px;
    &.bnrWrap01{
        background-color: #fc3;
    }
    &.bnrWrap02{
        background-color: #7da5d6;
    }
    .banner{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        &.bnr01{
            text-align: center;
            padding: 80px 0px;
            h2{
                line-height: 80px;
                font-size: 48px;
                font-weight: 700;
            }
            p{
                width: calc(100% / 12 * 7);
                line-height: 20px;
                height: 40px;
                overflow: hidden;
                margin: 0 auto;
            }
            .btn{
                width: calc(100% / 12);
                line-height: 50px;
                height: 50px;
                text-align: center;
                background-color: #fff;
                margin: 0 auto;
                text-transform: capitalize;
                margin-top: 30px;
            }
        }
        &.bnr02{
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 120px 0px;
            .texts{
                width: calc(100% / 12 * 7);
                h2{
                    font-size: 48px;
                    line-height: 50px;
                    text-transform: capitalize;
                    font-weight: 700;
                }
                h5{
                    line-height: 40px;
                    font-size: 18px;
                }
                p{
                    margin-top: 20px;
                    font-size: 12px;
                    line-height: 20px;
                    height: 60px;
                    overflow: hidden;
                }
                .btn{
                    background-color: orange;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    width: calc(100% / 7 *1.2);
                    line-height: 40px;
                    height: 40px;
                    margin-top: 40px;
                }
            }
            .image{
                width: calc(100% / 12 * 4);
                height: 240px;
                background-color: #ccc;
            }
        }
    }
}

.ftrwrap{
    background-color: #333;
    footer{
        color: #fff;
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding: 40px 0px;
        .info{
            width: calc(100% / 12 * 3);
            h4{
                line-height: 40px;
                &h4:nth-child(1){
                    text-transform: capitalize;
                    font-weight: 700;
                }
            }
            p{
                width: calc(100% / 3  * 2.5);
                line-height: 13px;
                height: 40px;
                overflow: hidden;
            }
        }
        ul{
            width: calc(100% / 12 * 3);
            &:nth-child(4){
                li:nth-child(1)~li{
                    padding-left: 10px;
                }
            }
            li{
                line-height: 30px;
                &:nth-child(1){
                    text-transform: capitalize;
                    font-weight: 700;
                }
            }
        }
    }
}